body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center; /* Para centrar el contenido en el cuerpo de la página */
}

header, nav, section, footer {
  margin: 0 auto; /* Establecer márgenes automáticos para centrar los elementos */
  max-width: 800px; /* Establecer un ancho máximo para los elementos principales */
  text-align: left; /* Alinear el texto a la izquierda dentro de los elementos */
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed
    
